@import "https://fonts.googleapis.com/css?family=Bungee|Open+Sans+Condensed:300";
body {
  background: #f9d237;
  margin: 0 auto;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18pt;
}
header {
  background: #212121;
  color: #fff;
  text-align: center;
  padding: 50px;
  font-size: 30pt;
  font-family: "Bungee", cursive;
}
.script {
  width: 90%;
  max-width: 600px;
  margin: 60px auto;
  padding: 0 10px;
}
footer {
  padding: 20px;
  text-align: center;
  font: 8pt "Segoe UI", sans-serif;
  line-height: 2;
  background: #e1bd32;
}
@media only screen and (max-width: 550px) {
  .script {
    width: auto;
    padding: 20px;
  }
}
